dist: trusty
language: rust
services: docker
sudo: required

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - binutils-dev
      - libiberty-dev
      - build-essential
      - libc6-dev-amd64

matrix:
  include:
    # Rust stable
    - rust: stable
      env:
      - TARGET=x86_64-unknown-linux-gnu
      - PKG_CONFIG_PATH=/usr/lib/pkgconfig:$PKG_CONFIG_PATH
      - PATH=$HOME/.local/bin:$HOME/kcov-master/build:$PATH
    - os: osx
      rust: stable
      env:
      - TARGET=x86_64-apple-darwin
      - PATH=$HOME/Library/Python/2.7/bin:$HOME/kcov-master/build:$PATH

    # Rust beta
    - rust: beta
      env:
      - TARGET=x86_64-unknown-linux-gnu
      - PKG_CONFIG_PATH=/usr/lib/pkgconfig:$PKG_CONFIG_PATH
      - PATH=$HOME/.local/bin:$HOME/kcov-master/build:$PATH

    # Rust nightly
    - rust: nightly
      env:
      - TARGET=x86_64-unknown-linux-gnu
      - PKG_CONFIG_PATH=/usr/lib/pkgconfig:$PKG_CONFIG_PATH
      - PATH=$HOME/.local/bin:$HOME/kcov-master/build:$PATH
      - RUSTFLAGS="-C link-dead-code"

  allow_failures:
    # Rust nightly
    - rust: nightly
      env:
      - TARGET=x86_64-unknown-linux-gnu
      - PKG_CONFIG_PATH=/usr/lib/pkgconfig:$PKG_CONFIG_PATH
      - PATH=$HOME/.local/bin:$HOME/kcov-master/build:$PATH
      - RUSTFLAGS="-C link-dead-code"

env:
  global:
    - RUST_BACKTRACE=1
    - INDRADB_SCRIPT_ROOT=~/build/indradb/indradb/bin/test_scripts

install: ./ci/install.sh
script: ./ci/test.py
before_deploy: ./ci/before_deploy.sh

deploy:
  api_key:
    secure: "2kIfzXTJcKKXe+tQp5ZXZirdzTzZAVvX3NJuz/cuE0gk+6Otlu5RamzZDBOfeVL45NtLsauF6Vbt8UKdO4gVXO13ooLC1sVA4Qa8CKkWmNhQ8o+8zYLD98jdYiW+QWVyV4GtM0OXoQLHfCGzrotQ6Xnex7RzzHgBt6inWnBko86Gt08JAfx8Mqr3UkjWFJylqqWBpzU/DHFAwxMSGQERSK8GJMPH+gTP023bskGJS1tYwfk6EMmOPtOShI49TTL7k1zgYnz3VfYf1VhFWHMJQpVk1Q+u7Ydh6k0M7n4J5kEKaYJoBz8bY/oVSvrJXVL/T5YqzSCvHL51Q2QZsd/nUq2Qftn5brbtadLUv5MSnLlDqlBLAjsbXvBO6xq7HEpZwBJDbaXaBE7sNuoJDrZWtcvYz9mGa47FA7ideYEx1/Tv/57XT73lLEsPWyRZt5kFbb2ZRGHR4P9TUJAXZc9W208EZzg5UmsCbnU4oetD3+fCwSbuCiueVaoO0gfC9p58aEK/3pmKHEc4qkWA6Lcm3OC0TtKs4UpfTGhJH+RZjuLCWvuiyeGKb6Kt/0tawUsc+qcc2/C6Xt8iCW2gJ9KYO+kOyUUR4gaBg2+hOfvUEzqDtjmw3mKat64jKh7iEbqoCGz1J0t54T4WIOXdc+odTZTnbYZk96yY53+h2azN+vI="
  file_glob: true
  file: indradb-$TRAVIS_TAG-$TARGET.*
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache:
  directories:
  - $HOME/.cargo
  - $TRAVIS_BUILD_DIR/target
  - /usr/local/bin/kcov
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

notifications:
  email:
on_success: never
