[package]
name = "indradb-proto"
version = "2.0.0"
authors = ["Yusuf Simonson <simonson@gmail.com>"]
description = "Protobuf/gRPC interfaces for IndraDB"
homepage = "https://indradb.github.io"
repository = "https://github.com/indradb/indradb"
keywords = ["graph", "database"]
categories = ["database", "database-implementations"]
license = "MPL-2.0"
build = "build.rs"
edition = "2018"

[lib]
name = "indradb_proto"
path = "src/lib.rs"

[features]
default = ["client"]
server = ["tokio"]
client = ["tokio"]
bench-suite = ["indradb-lib/bench-suite", "test-suite"]
test-suite = ["indradb-lib/test-suite", "client", "server"]

[dependencies]
failure = "0.1.8"
serde_json = "^1.0.57"
uuid = "0.8.1"
chrono = "0.4.15"
prost = "0.6.1"
prost-derive = "0.7.0"
prost-types = "0.6.1"
tonic = "0.3.1"
tokio = { version = "0.2.24", optional = true }

[dependencies.indradb-lib]
path = "../lib"
version = "2.0.0"

[build-dependencies]
tonic-build = "0.3.1"