on:
  push:
    tags:
      - 'v*'

name: Release

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  bundle-binaries:
    name: bundle for ${{ matrix.os }}
    needs: release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: macOS-latest, os_short: macos }
        - { os: ubuntu-latest, os_short: linux }
    steps:
      - uses: actions/checkout@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v1

      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable

      - uses: Swatinem/rust-cache@v1

      - run: ./scripts/ci-bundle-binaries.sh ${{ matrix.os }} ${{ matrix.os_short }}

      - name: Upload binary
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./indradb.tar.gz
          asset_name: indradb-${{ matrix.os_short }}.tar.gz
          asset_content_type: application/gzip
